* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    background-color: black;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    padding: 0px 0px 50px 0px;
}

.titleProductosDestacados {
    color: white;
}

.cartItemCount {
    color: white;
}

.featuredProducts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    padding: 50px 0px 50px 0px;
}

.featuredProduct {
    display: flex;
    background-color: white;
    border-radius: 0.3rem;
    flex-direction: column;
    justify-content: space-between;
}

.featuredProduct .featuredImg {
    width: 300px;
    height: 300px;
}

.featuredProduct .info {
    display: flex;
    flex-direction: column;
    padding: 10px   ;
}

.featuredProduct .info2 {
    display: flex;
    justify-content: space-between;
}

.featuredProduct .buyButton {
    display: flex;
    background-color: black;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
}

.bagSvg{
    width: 24px;
    height: 24px;
}

.plusSvg{
    width: 22px;
    height: 22px;
}

.featuredProduct .price {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
}

.productoId {
    padding-top: 11px;
}

.productoPrecio{
    font-size: 18px;
    color: #808080;
    text-decoration: line-through;
    font-weight: 500;
}

.productoDiscountPrecio {
    color: #941B0C;
    font-size: 43px;
    font-weight: 500;
    }

.ofertProducts {
    display: flex;
    gap: 60px;
    padding: 0px 0px 50px 0px;
}

.ofertProduct {
    display: flex;
    background-color: gold;
    border-radius: 0.3rem;
    flex-direction: column;
}

.ofertProduct .info {
    display: flex;
    flex-direction: column;
}

.ofertProduct .ofertImg {
    width: 300px;
    height: 300px;
}

.ofertProduct .info2 {
    display: flex;
    justify-content: space-between;
}

.ofertProduct .buyButton {
    display: flex;
    background-color: black;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
}

.ofertProduct .price {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
}

.etiquetaSvg {
    width: 71px;
    height: 71px;
    position: absolute;
    right: 20px;
}

.newsProducts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 0px 0px 50px 0px;
}

.newsProduct {
    background-color: white;
    display: flex;
    width: 292px;
    padding: 14px 140px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 10px;
}

.newsProduct .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoNews {
    display: flex;
    flex-direction: column;
}

.infoNews .productoImg{
    display: flex;
}

.infoNews .star {
    display: flex;
    flex-direction: row;
}

.newsProduct .productoImg {
    width: 300px;
    height: 300px;
}

.newsProduct .buyPart{
    display: flex;
    background-color: #F2F2F2;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.buyPart .bagSvg {
    fill:black;
}

.newsProduct .price {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
}

.newsProduct .buyButton {
    display: flex;
    align-items: center;
}