* {
    padding: 0;
    margin: 0;
}

body {
    padding: 50px;
    background-color: red;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav div {
    padding: 0px 0px 50px 0px;
}

.featuredProducts {
    display: flex;
    gap: 60px;
    padding: 50px 0px 50px 0px;
}

.featuredProduct {
    display: flex;
    width: 285px;
    height: 353px;
    background-color: white;
    border-radius: 0.3rem;
    flex-direction: column;
    justify-content: space-between;
}

.featuredProduct .info {
    display: flex;
    flex-direction: column;
    padding: 10px   ;
}

.featuredProduct .info2 {
    display: flex;
    justify-content: space-between;
}

.featuredProduct .buyButton {
    display: flex;
    background-color: black;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
}

.bagSvg{
    width: 24px;
    height: 24px;
}

.plusSvg{
    width: 22px;
    height: 22px;
}

.featuredProduct .price {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
}

.productoId {
    padding-top: 11px;
}

.productoPrecio{
    font-size: 18px;
    color: #808080;
    text-decoration: line-through;
    font-weight: 500;
}

.productoDiscountPrecio {
    color: #941B0C;
    font-size: 43px;
    font-weight: 500;
    }

.ofertProducts {
    display: flex;
    gap: 60px;
    padding: 0px 0px 50px 0px;
}

.ofertProduct {
    display: flex;
    background-color: gold;
    border-radius: 0.3rem;
    flex-direction: column;
}

.ofertProduct .info {
    display: flex;
    flex-direction: column;
}



.ofertProduct .info2 {
    display: flex;
    justify-content: space-between;
}

.ofertProduct .buyButton {
    display: flex;
    background-color: black;
    width: 70px;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 0px;
}

.ofertProduct .price {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    align-items: flex-end;
}

.etiquetaSvg {
    width: 71px;
    height: 71px;
    position: absolute;
    right: 20px;
}

.newsProducts{
    display: flex;
    gap: 30px;
    padding: 0px 0px 50px 0px;
}

.newsProduct {
    display: flex;
    background-color: green;
    flex-direction: row;
}